#buylist
  h1 My Shopping List
  .buy_item.control_panel
    label Product:
    input#input_name(placeholder="Name")
    label Price:
    input#input_price(placeholder="Value")
    span.addbtn +ADD
  #items_list